{% extends "layout.html" %}


	{% block title %}All Users{% endblock %}
      {% block content %}

<div class="container">


<table class="table">
<tbody><tr>
	<th>UserName</th>
	<th></th>
	<!--<th></th>
	<th></th>-->
	<th>State</th>
	<th>ID</th>
</tr>
	{% for User in Users %}
<tr>

	<td>{{ User.Username }}</td>
	<td class="deleteUser"><button class="btn btn-primary" type="submit">Delete User</button></td>
	<!--<td class="changePW"><button class="btn btn-primary" type="submit">Change Password</button></td>
	<td><input class="pBox" class="hidden" type="text" name="PW"></td>-->
	<td> {{ User.state }} </td>
	<td class="id"><ID>{{User.ID}}</ID></td>
</tr>
{% endfor %}

</tbody>
</table>


</div>

{% endblock %}