	{% extends "layout.html" %}
		
      
{% block content %}


<div class="container">

	<div>
		<SenatorName id="{{ Senator.Id }}"><h2>{{ Senator.Name }}</h2></RecipeName>
	</div>

	<div class="row">
		<div class="col-md-8">

			<p> {{ Senator.Bio }} </p>

			<p><label>Party:</label> {{ Senator.Party }}</p>
			<p><label>State:</label> {{ Party.State }}</p>
			<p><label>Up For Election:</label> {{ UFE }}</p>

			{% if (UFE==2018) %}
				<p><b><label>Opponent:</label> {{ Opponent.Name }}</b></p>
				<p><b><label>Party:</label> {{ Opponent.Party }}</b></p>
			{% endif %}

			<h3>Info</h3>

			<ul>
				<li>DOB: {{ Bio.Born }}</li>
				<li>Age: {{ Bio.Age }}</li>
				<li>Spouse: {{ Bio.Spouse }}</li>
				<li>Education: {{ Bio.Education }}</li>
			</ul>

			<h3>Voting Record</h3>

			<ul>
				<li>Votes Cast: {{ Participation.VotesCast }}</li>
				<li>Commitees: {{ Participation.Commitees }}</li>
			</ul>

			<h3>Key Stances</h3>

			<ul>
				<li>HealthCare: {{ Stance.Healthcare }}</li>
				<li>Gun Control: {{ Stance.GunControl }}</li>
				<li>Women's Rights: {{ Stance.WomensRights }}</li>
				<li>Military Spending: {{ Stance.MilitarySpending }}</li>
				<li>Foreign Policy: {{ Stance.ForeignPolicy }}</li>
				<li>Immigration: {{ Stance.Immigration }}</li>
			</ul>

		</div>

		<div class="col-md-2">
			<img class="thumb" src= "{{ Senator.ImgURL }}" width="300px">
		</div>

<div id="_template" class="card w-100">
	<h3 class="card-header">Add a comment</h3>
	<div class="card-body">
		<form>
			<div class="form-group">
				<textarea id="Comment" rows="4" cols="60" class="form-control" placeholder="Comment"></textarea>
			</div>
			<div class="form-group">
				<button id="postBtn" class="btn btn-primary" >Post</button>
			</div>
		</form>
	</div>
</div>

<div id="Copy" class="card w-100 mt-3">
	<div class="card-header">
		<div class="row">
			<div class="col-md-11">
				<h4>etomai</h4>
				{% if (data.admin) %}
				<button class="deleteComment">X</button>
				<CID id="CID"></CID>
				{% endif %}
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>

	<div id="CopyComment" class="card-body">
		<p>This is my comment.  I think the post is too long.</p>
	</div>
</div>

<script>
	
 $.ajax({
        url : baseurl 
            + "/handlers/getall/"+$('SenatorName').attr('id'),
            dataType : "text"
        }).done(function(data){
        	console.log(data)
        	data=JSON.parse(data)
            for(i=0;i<data.length;i++){
				a=$("#Copy").clone(true,true).show()
	            a.find("h4").text(data[i][0])
	            a.find("#CopyComment").text(data[i][1])
	            a.find("#CID").text(data[i][2])
	            $("#_template").append(a);
	            a.insertAfter($("#_template"))
            }
        })


</script>


	</div>
</div>

{% endblock %}