	{% extends "layout.html" %}
		
      
{% block content %}


<div class="container">

	<div>
		<SenatorName id="{{ Senator.Id }}"><h2>{{ Senator.Name }}</h2></RecipeName>
	</div>

	<div class="row">
		<div class="col-md-8">

			<p> {{ Senator.Bio }} </p>

			<p><label>Party:</label> {{ Senator.Party }}</p>
			<p><label>State:</label> {{ Party.State }}</p>

			<h3>Info</h3>

			<ul>
				<li>DOB: {{ Bio.Born }}</li>
				<li>Age: {{ Bio.Age }}</li>
				<li>Spouse: {{ Bio.Spouse }}</li>
				<li>Education: {{ Bio.Education }}</li>
			</ul>

			<h3>Voting Record</h3>

			<ul>
				<li>Votes Cast: {{ Bio.Born }}</li>
				<li>Sessions Attended: {{ Bio.Age }}</li>
				<li>Commitees: {{ Bio.Spouse }}</li>
				<li>Year Elected: {{ Bio.Education }}</li>
			</ul>

			<h3>Key Stances</h3>

			<ul>
				<li>HealthCare: {{ Bio.Born }}</li>
				<li>Gun Control: {{ Bio.Age }}</li>
				<li>Women's Rights: {{ Bio.Spouse }}</li>
				<li>Military Spending: {{ Bio.Education }}</li>
				<li>Foreign Policy: {{ Bio.Education }}</li>
				<li>Immigration: {{ Bio.Education }}</li>
			</ul>

		</div>

		<div class="col-md-2">
			<img class="thumb" src= "{{ Senator.ImgURL }}" width="300px">
		</div>
	</div>
</div>

{% endblock %}